@(url: String, webJarsUtil: org.webjars.play.WebJarsUtil)
<!DOCTYPE html>
<html lang="en">
    <section id="content">
        <div class="wrapper doc">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        @webJarsUtil.locate("bootstrap.min.css").css()
        @webJarsUtil.locate("bootstrap-theme.min.css").css()

        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <title>WAR ROOM</title>

    </head>
        <body>
            <article>
                <h1>Welcome to the War Room</h1>
                    <h3 id="signUp">Sign Up</h3>
                    <p>Click Here to <a href="@routes.HomeController.signUp">SIGN UP</a>.</p>

                    <h3 id="signUp">Login</h3>
                    <p>If you already signed up then <a href="@routes.HomeController.login">LOGIN</a> here.</p>
            </article>
        </body>
</html>
